#whichever one you want to use either the KSL Cars or KSL Items
#comment it out.

#this is the example for the KSL Car Items
#* * * * * python /var/tmp/src/KSL-Cars/getCar.py > /proc/1/fd/1 2>&1

#this is the example for the KSL List Items
#* * * * * python /var/tmp/src/KSL-Cars/getItemList.py > /proc/1/fd/1 2>&1

#blank line is mandatory
